<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extração de dados licitação finalizada</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Extração de dados licitação finalizada</h1>

<form action="/gerarExcel" method="get">
    <label for="uasg">UASG (120071): </label>
    <input type="text" id="uasg" name="uasg" required>
    <br>

    <label for="tipo">Tipo de Licitação: </label>
    <select id="tipo" name="tipo" required>
        <option value="05">PREGÃO</option>
        <option value="06">DISPENSA DE LICITAÇÃO</option>
        <option value="01">CONVITE</option>
        <option value="02">TOMADA DE PREÇOS</option>
        <option value="03">CONCORRÊNCIA</option>
        <option value="04">CONCORRÊNCIA INTERNACIONAL</option>
        <option value="07">INEXIGIBILIDADE DE LICITAÇÃO</option>
        <option value="12">CREDENCIAMENTO</option>
        <option value="20">CONCURSO</option>
        <option value="22">TOMADA DE PREÇOS POR TÉCNICA E PREÇO</option>
        <option value="33">CONCORRÊNCIA POR TÉCNICA E PREÇO</option>
        <option value="44">CONCORRÊNCIA INTERNACIONAL POR TÉCNICA E PREÇO</option>
        <option value="57">CONVÊNIO</option>
    </select>
    <br>

    <label for="pregao">N° Pregão (900412024): </label>
    <input type="pregao" id="pregao" name="pregao" required>
    <br>

    <button type="submit">Gerar Excel</button>
</form>

</body>
</html>
